  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="title" content="Sola Chemical Company"/>
  <meta name="description" content="Making your home sparkle and your life easier! We offer high-quality cleaning chemicals, washing powders & liquids, air fresheners, hand washes, and dish wash"/>
  <meta name="keywords" content="cleaning products, washing powders, dish wash, air fresheners, hand washes, home cleaning, Sola Chemical Company"/>
  <!--
  <meta name="robots" content="index, follow"/>
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
  <link rel="canonical" href="https://hashcoders.alwaysdata.net/"/>
  -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://hashcoders.alwaysdata.net/"/>
  <meta property="og:title" content="Sola Chemical Company"/>
  <meta property="og:description" content="Making your home sparkle and your life easier! We offer high-quality cleaning chemicals, washing powders & liquids, air fresheners, hand washes, and dish wash"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="Sola Chemical Company"/>
  <meta property="og:image" content="https://hashcoders.alwaysdata.net/public/web-app-manifest.png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:url" content="https://hashcoders.alwaysdata.net/"/>
  <meta name="twitter:title" content="Sola Chemical Company"/>
  <meta name="twitter:description" content="Making your home sparkle and your life easier! We offer high-quality cleaning chemicals, washing powders & liquids, air fresheners, hand washes, and dish wash"/>
  <meta name="twitter:image" content="https://hashcoders.alwaysdata.net/public/web-app-manifest.png"/>
  <link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96"/>
  <link rel="icon" type="image/svg+xml" href="/public/favicon.svg"/>
  <link rel="shortcut icon" href="/public/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png"/>
  <link rel="manifest" href="/public/site.webmanifest"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link rel="canonical" href="https://hashcoders.alwaysdata.net/"/>
  <link href="/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />
  <link href="/assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Sola Chemical Company",
    "url": "https://hashcoders.alwaysdata.net/",
    "logo": "/public/web-app-manifest.svg",
    "sameAs": [
      "https://www.facebook.com/SolaChemicalCompany/",
      "https://www.instagram.com/sola_chem/"
    ],
    "description": "Making your home sparkle and your life easier! We offer high-quality cleaning chemicals, washing powders & liquids, air fresheners, hand washes, and dish wash."
  }
  </script>
