    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="title" content="Sola Chemical Company"/>
    <meta name="description" content="Administrator site of the Sola Chemical Company"/>
    <link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg"/>
    <link rel="shortcut icon" href="/public/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png"/>
    <link rel="manifest" href="/public/site.webmanifest"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="canonical" href="https://hashcoders.alwaysdata.net/admin/"/>
    <link href="/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet">
